@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
:root{
    --bg-color:8C3061;
    --primary-color:FFFFFF;
    --secodary-color: C63C51;
    --font:"Edu AU VIC WA NT Guides",sans-serif;
}
body{
    background-color: var(--bg-color);
}